<h3 class="text-xl font-bold mb-4">Reports</h3>
<%= render "reports/dashboard_summary", reports: project.reports %>
<div class="mb-6 flex justify-end">
  <%= link_to "➕ New Report", new_project_report_path(project),
      class: "px-4 py-2 rounded bg-hamzis-copper text-white hover:bg-hamzis-black transition" %>
</div>
<%= render "reports/reports_table", reports: project.reports, show_project: false %>
