<div class="grid lg:grid-cols-3 gap-6">
  <%= render partial: "inventory/inventory_items/item_card", locals: { inventory_item: @inventory_item } %>
  <div class="lg:col-span-2 space-y-6">
    <%= render partial: "inventory/inventory_items/stock_by_warehouse", locals: { inventory_item: @inventory_item } %>
    <%= render partial: "inventory/inventory_items/stock_movements", locals: { inventory_item: @inventory_item, stock_movements: @stock_movements } %>
  </div>
</div>
<turbo-frame id="stock_movement_form" class="hidden"></turbo-frame>
