<% content_for :title, "Edit Reservation" %>
<h1 class="text-2xl font-bold ...">Edit Reservation for <%= @project_inventory.project.name %></h1>
<%= render "inventory/project_inventories/form", project_inventory: @project_inventory %>
