<div id="project_progress">
  <p><span class="font-medium">Progress:</span> <%= project.progress %>%</p>
  <div class="w-full bg-gray-200 rounded-full h-3 mt-2">
    <div class="bg-hamzis-copper h-3 rounded-full transition-all"
         style="width: <%= project.progress %>%"></div>
  </div>
</div>
