<span class="page<%= ' current' if page.current? %>">
    <%= link_to_unless page.current?, page, url, {remote: remote, rel: page.rel,
      class: page.current? ?
      "px-4 py-2 rounded-lg bg-brand-primary text-white font-black text-xs shadow-lg shadow-brand-primary/20 transition-all scale-110 z-10" :
      "px-4 py-2 rounded-lg bg-white/5 dark:bg-black/20 text-brand-secondary/60 dark:text-brand-primary/60 font-bold text-xs hover:bg-brand-secondary hover:text-white transition-all"} %>
</span>