name: CI

on:
  pull_request:
  push:
    branches: [ main, dev ]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      RAILS_ENV: test
      PGUSER: postgres
      PGPASSWORD: ${{ secrets.PGPASSWORD }}
      PGHOST: localhost
      POSTGRES_DB: hamzis_systems_test
      DATABASE_URL: postgres://postgres:${{ secrets.PGPASSWORD }}@localhost:5432/hamzis_systems_test
      JOBS_USER: ${{ secrets.JOBS_USER }}
      JOBS_PASSWORD: ${{ secrets.JOBS_PASSWORD }}

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: ${{ secrets.PGPASSWORD }}
          POSTGRES_DB: hamzis_systems_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Install packages
        run: sudo apt-get update && sudo apt-get install --no-install-recommends -y build-essential git libpq-dev libyaml-dev pkg-config google-chrome-stable

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Set up database
        run: bundle exec rails db:prepare

      - name: Run tests
        run: bundle exec rspec

      - name: Keep screenshots from failed system tests
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: screenshots
          path: ${{ github.workspace }}/tmp/screenshots
          if-no-files-found: ignore

  migrate-staging:
    runs-on: ubuntu-latest
    needs: test   # only run if tests pass
    if: github.ref == 'refs/heads/dev'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Run migrations on staging DB
        env:
          DATABASE_URL: ${{ secrets.STAGING_DATABASE_URL }}
          SECRET_KEY_BASE: ${{ secrets.STAGING_SECRET_KEY_BASE }}
        run: |
          RAILS_ENV=staging bundle exec rails db:migrate
